.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li #a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

#navbar #nav-dropdown{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    padding: 0 20px;
}

#navbar li #a:hover,
#navbar li #a.active{
    color: darkblue;
}

#navbar li #a:hover::after,
#navbar li #a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: darkblue;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
}

#mobile i {
    color:blue;
    align-items: center;
}

@media screen and (max-width: 769px) {
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: white;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
        z-index: 1;
    }
    #navbar.active{
        right: 0px
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: block;
    }
    #mobile i{
        font-size: 24px;
        cursor: pointer;
    }
}